<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title> 
      <ion-icon name="body" color="light"></ion-icon>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1" (click)="backClick()"
          [text]="Save"
          [icon]="ios-arrow-back">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid #char id="character" style="height: 100%;">
  
      <ion-row>

        <ion-col align-self-center text-center (click)="onClick($event)" size="6" *ngFor='let image of [1,2,3,4]'>
            <img class="image-container" id="{{image}}" src='/assets/adventurers/{{image}}.png'>
        </ion-col>

      </ion-row>

    </ion-grid>
    
</ion-content>
