<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Edit your character</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1" (click)="dismissAvaModal()"
          [text]="Save"
          [icon]="ios-arrow-back">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="vague-content">
  <ion-button class="cc_spacing" expand="block" shape="round" size="large" color="persianred" (click)="dismissRed()"></ion-button>
  <ion-button class="cc_spacing" expand="block" shape="round" size="large" color="ksupurple" (click)="dismissPurple()"></ion-button>
  <ion-button class="cc_spacing" expand="block" shape="round" size="large" color="cerulean" (click)="dismissBlue()"></ion-button>
  <ion-button class="cc_spacing" expand="block" shape="round" size="large" color="neongreen" (click)="dismissGreen()"></ion-button>
</ion-content>
