<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/profile_bkg.svg" alt="" />
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title>Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Username</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Level </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Distance Covered</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Skills</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
