// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #293137;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #353535;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #fce2ab;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,   255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**neongreen**/
  --ion-color-neongreen: #1e8f3a;
  --ion-color-neongreen-rgb: 30, 143, 58;
  --ion-color-neongreen-contrast: #ffffff;
  --ion-color-neongreen-contrast-rgb: 255, 255, 255;
  --ion-color-neongreen-shade: #17781c;
  --ion-color-neongreen-tint: #259c3b;

  /**cerulean**/
  --ion-color-cerulean: #2a62bd;
  --ion-color-cerulean-rgb: 42, 98, 189;
  --ion-color-cerulean-contrast: #ffffff;
  --ion-color-cerulean-contrast-rgb: 255, 255, 255;
  --ion-color-cerulean-shade: #1c3e8c;
  --ion-color-cerulean-tint: #3882c7;

  /**ksupurple**/
  --ion-color-ksupurple: #581e8f;
  --ion-color-ksupurple-rgb: 88, 30, 143;
  --ion-color-ksupurple-contrast: #ffffff;
  --ion-color-ksupurple-contrast-rgb: 255, 255, 255;
  --ion-color-ksupurple-shade: #3f1982;
  --ion-color-ksupurple-tint: #66259c;

  /**persianred**/
  --ion-color-persianred: #bd2a33;
  --ion-color-persianred-rgb: 204, 52, 49;
  --ion-color-persianred-contrast: #ffffff;
  --ion-color-persianred-contrast-rgb: 255, 255, 255;
  --ion-color-persianred-shade: #8e1c35;
  --ion-color-persianred-tint: #cc3431;

  --ion-background-color:#5a5a5a;

  --ion-font-family: 'Righteous';
}

.custom-avaModal {
  // background-color: rgb(87, 87, 87) !important;
  > div {
    background: rgb(87, 87, 87)  !important;
    color: rgb(255, 255, 255) !important;
  }
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Righteous-Regular.ttf');
}

* {
  font-family: 'Righteous';
}